@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Noto+Sans+TC&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply leading-normal;
    @apply text-black-100;
    /* @apply bg-[#F5F5F5]; */
    @apply bg-[#f9f9f9];
    font-family: Marcellus, 'Noto Sans TC', sans-serif;
    line-height: 1.2;
  }
}
@layer components {
  .bg {
    /* background: linear-gradient(
      to bottom,
      rgba(128, 221, 240, 0) 13.7%,
      #1688a5 45.99%,
      #202020 78.81%
    ); */
    background: linear-gradient(to bottom, #ffffff 5%, #00aeff, #1e1e3c);

    /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4),
      0 0 10px rgba(0, 0, 0, 0.1) inset; */
  }
  .bg2 {
    background: linear-gradient(
      to bottom,
      #ace4ef 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .clip{
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  }
}
@layer utilities {
  .vertical-lr {
    writing-mode: vertical-lr;
  }
}
